@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.ally-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  width: clamp(320px, 100vw, 800px);
  margin: 0 auto;
}

.productWrapper {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  font-size: 18px;
}

.productWrapper img {
  width: 100%;
}

.productTitle span {
  text-align: left;
  width: 100%;
  display: block;
}

.productTitle span span {
  display: inline;
}
